*{
    margin: 0;
    padding: 0;;
}
#fondo{
    position: relative;
width: 1536px;
height: 753px;

position: absolute;

background: linear-gradient(180deg, #005EB5 0%, rgba(39, 144, 239, 0.507763) 79.17%, rgba(52, 147, 234, 0.34375) 99.99%, rgba(52, 147, 234, 0) 100%), #FFFFFF;
}

#panel{
    position: absolute;
    
    height: 669px;

    left: 84px;
top: 48px;
    position: absolute;
width: 630px;

left: 431px;
top: 63px;

background: rgba(217, 217, 217, 0.5);
}


.boton{
    position: absolute;
    width: 265px;
    height: 45px;
    top: 300px;
    left: 188px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    border-radius: 50px;
    
}

#boton1{
    top: 160px;
}
#boton2{
    top: 220px;
}
#boton3{
    top: 280px;
}
#boton4{
    top: 340px;
}
#boton5{
    top: 400px;
}
#boton6{
    top: 460px;
}


#orion{
    position: absolute;
width: 231px;
height: 218px;
left: 570px;
top: 440px;

background: url(orion);
}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    font-family: 'Times New Roman';
    
}